<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="static/styles.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <title>Document</title>
</head>
<body>
          <div id="formButtons" >
            <button id="jobSlipButton" onclick="showJobSlipForm()" type="submit">
             <a href="/jobslip">Job Slip</a>  
          </button>
            <button id="workshopDetailsButton" onclick="showWorkshopDetailsForm()" type="submit">
             <a href="/workshopdetails">Workshop Details</a>  
            </button>
            <button id="backToLoginButton" onclick="showLoginPage()">
               <a href="/">Back to Login Page</a>
          </button>
        </div>
</body>
</html>